<a href="https://colab.research.google.com/github/HyelinNAM/TIL/blob/master/0206_TFIDF%26Cosine_Similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

link ='https://drive.google.com/open?id=1YXyWrZkuM_3mcNd3UMui3Hp2aQuSV03m'
fluff, id = link.split('=')

downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile("movies_metadata.csv")  
data = pd.read_csv("movies_metadata.csv")

In [0]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [0]:
data.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [0]:
data = data.head(20000)

In [0]:
data['overview'].isnull() # Null 값 체크

0        False
1        False
2        False
3        False
4        False
         ...
19995    False
19996    False
19997    False
19998    False
19999    False
Name: overview, Length: 20000, dtype: bool

In [0]:
data['overview'] = data['overview'].fillna('')

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')

In [0]:
tfidf

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words='english', strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [0]:
tfidf_matrix = tfidf.fit_transform(data['overview'])

In [0]:
tfidf_ar = tfidf_matrix.toarray()
print(type(tfidf_ar))

<class 'numpy.ndarray'>

In [0]:
import numpy as np

np.set_printoptions(threshold=10)

In [0]:
print(type(tfidf_matrix))
print(tfidf_matrix.shape)
print(tfidf_matrix)

<class 'scipy.sparse.csr.csr_matrix'>
(20000, 47487)
  (0, 11645)	0.13942792746208266
  (0, 2811)	0.1524688231743182
  (0, 24325)	0.10272285889754121
  (0, 14393)	0.10323587624822204
  (0, 12920)	0.13359137839416452
  (0, 30780)	0.10362949000778948
  (0, 37778)	0.13329592929044795
  (0, 7974)	0.13030575543855816
  (0, 32424)	0.13359137839416452
  (0, 19047)	0.10485920860731182
  (0, 32291)	0.09637786759647918
  (0, 25229)	0.12052668500637997
  (0, 1254)	0.1489611323980068
  (0, 37166)	0.11699407550916606
  (0, 24759)	0.19553422928903877
  (0, 6290)	0.5036643709879097
  (0, 5775)	0.10961099833635705
  (0, 4736)	0.12600776612424489
  (0, 36185)	0.11514050233158798
  (0, 18727)	0.13359137839416452
  (0, 24957)	0.09146351035625488
  (0, 43131)	0.15491381382108724
  (0, 2051)	0.4159373110833513
  (0, 46617)	0.46474144146326174
  (0, 24361)	0.10943293956646011
  :	:
  (19997, 13221)	0.17897321248705433
  (19997, 37592)	0.15166031585027698
  (19997, 45919)	0.1821847673691749
  (19997, 46772)	0.14244710628029003
  (19997, 21552)	0.15423289582259722
  (19997, 2517)	0.19144340456445616
  (19997, 35018)	0.12079430955239955
  (19997, 15493)	0.08950278201939495
  (19997, 29263)	0.08327821667314726
  (19997, 22125)	0.15561995376233795
  (19998, 34978)	0.5686453250841403
  (19998, 25239)	0.5300420112528954
  (19998, 2123)	0.4914386974216504
  (19998, 15959)	0.2634131459925457
  (19998, 46646)	0.24224167485285572
  (19998, 24713)	0.16161204387743677
  (19999, 21100)	0.37141985908973846
  (19999, 11225)	0.3967094056723883
  (19999, 17084)	0.42580907795020684
  (19999, 24392)	0.3547620606044795
  (19999, 23527)	0.3198603932842145
  (19999, 33267)	0.29959318467784873
  (19999, 23261)	0.25876343109753314
  (19999, 15506)	0.27438105359261933
  (19999, 25155)	0.2513746643446116

In [0]:
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)

In [0]:
type(cosine_sim)

numpy.ndarray

In [0]:
import pandas as pd

indices = pd.Series(data.index, index=data['title'])
print(indices.head())

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [0]:
idx = indices['Jumanji']
print(idx)

1

In [0]:
def get_recommendations(title, cosine_sim=cosine_sim):
  idx = indices[title]

  sim_scores = list(enumerate(cosine_sim[idx]))
  sim_scores = sorted(sim_scores,key=lambda x: x[1],reverse=True)
  sim_scores = sim_scores[1:11]
  movie_indices = [i[0] for i in sim_scores]

  return data['title'].iloc[movie_indices]

In [0]:
get_recommendations('Batman Forever')

18252                      The Dark Knight Rises
19792    Batman: The Dark Knight Returns, Part 1
12481                            The Dark Knight
3095                Batman: Mask of the Phantasm
10122                              Batman Begins
1328                              Batman Returns
15511                 Batman: Under the Red Hood
9230          Batman Beyond: Return of the Joker
1491                              Batman & Robin
18035                           Batman: Year One
Name: title, dtype: object