<a href="https://colab.research.google.com/github/HyelinNAM/TIL/blob/master/0320_%EC%98%A4%ED%94%88_API%EB%A5%BC_%ED%86%B5%ED%95%9C_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%88%98%EC%A7%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

## 코드 쪼개보기

In [0]:
url = 'http://openapi.seoul.go.kr:8088/48426443676e686c39335454676473/xml/CardSubwayStatsNew/1/5/20200101'
req = requests.get(url)
html = req.text
soup = BeautifulSoup(html,'html.parser')
codename = soup.find_all('sub_sta_nm')

In [0]:
print(req)
print(type(html))
print(len(html))
print(type(soup))
print(len(soup)) # ?

In [0]:
print(html)

In [54]:
print(soup)

<?xml version="1.0" encoding="UTF-8"?>
<cardsubwaystatsnew>
<list_total_count>589</list_total_count>
<result>
<code>INFO-000</code>
<message>정상 처리되었습니다</message>
</result>
<row>
<use_dt>20200101</use_dt>
<line_num>1호선</line_num>
<sub_sta_nm>서울역</sub_sta_nm>
<ride_pasgr_num>36470</ride_pasgr_num>
<alight_pasgr_num>29895</alight_pasgr_num>
<work_dt>20200104</work_dt>
</row>
<row>
<use_dt>20200101</use_dt>
<line_num>1호선</line_num>
<sub_sta_nm>시청</sub_sta_nm>
<ride_pasgr_num>12126</ride_pasgr_num>
<alight_pasgr_num>10516</alight_pasgr_num>
<work_dt>20200104</work_dt>
</row>
<row>
<use_dt>20200101</use_dt>
<line_num>1호선</line_num>
<sub_sta_nm>종각</sub_sta_nm>
<ride_pasgr_num>20427</ride_pasgr_num>
<alight_pasgr_num>16301</alight_pasgr_num>
<work_dt>20200104</work_dt>
</row>
<row>
<use_dt>20200101</use_dt>
<line_num>1호선</line_num>
<sub_sta_nm>종로3가</sub_sta_nm>
<ride_pasgr_num>17061</ride_pasgr_num>
<alight_pasgr_num>15108</alight_pasgr_num>
<work_dt>20200104</work_dt>
</row>
<row>
<use_dt>20200101</use_dt>
<line_num>1호선</line_num>
<sub_sta_nm>종로5가</sub_sta_nm>
<ride_pasgr_num>12672</ride_pasgr_num>
<alight_pasgr_num>11939</alight_pasgr_num>
<work_dt>20200104</work_dt>
</row>
</cardsubwaystatsnew>

In [60]:
print(codename)

[<sub_sta_nm>서울역</sub_sta_nm>, <sub_sta_nm>시청</sub_sta_nm>, <sub_sta_nm>종각</sub_sta_nm>, <sub_sta_nm>종로3가</sub_sta_nm>, <sub_sta_nm>종로5가</sub_sta_nm>]

In [58]:
print(codename[0])
print(codename[0].text)

<sub_sta_nm>서울역</sub_sta_nm>
서울역

## 코드 전체

In [0]:
startnumber=1
endnumber=10 # total 589
SubInfo = {}

line_nmlist=[]
sta_nmlist=[]
ride_nmlist=[]
alight_nmlist=[]

In [0]:
while endnumber <= 100 :
  url = 'http://openapi.seoul.go.kr:8088/48426443676e686c39335454676473/xml/CardSubwayStatsNew/'+str(startnumber)+'/'+str(endnumber)+'/20200101'
  req = requests.get(url)
  html = req.text
  soup = BeautifulSoup(html,'html.parser')

  line_nm = soup.find_all('line_num')
  sta_nm = soup.find_all('sub_sta_nm')
  ride_nm = soup.find_all('ride_pasgr_num')
  alight_nm = soup.find_all('alight_pasgr_num')

  for code in line_nm :
    line_nmlist.append(code.text)

  for code in sta_nm :
    sta_nmlist.append(code.text)

  for code in ride_nm :
    ride_nmlist.append(code.text)

  for code in alight_nm :
    alight_nmlist.append(code.text)

  startnumber+=10
  endnumber+=10

In [0]:
SubInfo['Line'] = line_nmlist
SubInfo['Station'] = sta_nmlist
SubInfo['Ride'] = ride_nmlist
SubInfo['Alight'] = alight_nmlist

df = pd.DataFrame(SubInfo)

In [65]:
df

   Line      Station   Ride Alight
0   1호선          서울역  36470  29895
1   1호선           시청  12126  10516
2   1호선           종각  20427  16301
3   1호선         종로3가  17061  15108
4   1호선         종로5가  12672  11939
..  ...          ...    ...    ...
95  4호선           노원  11762  12768
96  4호선           창동  13293  14456
97  4호선           쌍문  14507  13636
98  4호선     수유(강북구청)  19290  19269
99  4호선  미아(서울사이버대학)   7422   7244

[100 rows x 4 columns]